.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}
.movie-list-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.page-loder-container{
  text-align: center;
}
